# Descriptive Stats

In [124]:
import numpy as np
import pandas as pd

## Player_1 Vs Player_2 - Who is better ?

In [125]:
# Create a dict with the runs scored by 2 players in last 9 matches
stats={'Player_1':[40,40,7,40,0,90,3,11,120],'Player_2':[40,35,45,52,30,40,29,43,37]}

In [75]:
#stats={'Player_1':[25,40,38,48,51,35,100,25,15,20,21,25,35,40,7,12,25,40,42,56],'Player_2':[0,25,22,38,25,45,51,60,62,93,68,63,42,9,3,5,20,14,18,37]}

In [126]:
# Create a dataframe
df=pd.DataFrame(stats)
df

   Player_1  Player_2
0        40        40
1        40        35
2         7        45
3        40        52
4         0        30
5        90        40
6         3        29
7        11        43
8       120        37

## Compute all the descriptive stats

In [127]:
df.describe()

         Player_1  Player_2
count    9.000000   9.00000
mean    39.000000  39.00000
std     41.518068   7.28011
min      0.000000  29.00000
25%      7.000000  35.00000
50%     40.000000  40.00000
75%     40.000000  43.00000
max    120.000000  52.00000

### To Compute mode

In [80]:
df.mode()

   Player_1  Player_2
0        40        40

### To see the range

In [83]:
df.max()-df.min()

Player_1    120
Player_2     23
dtype: int64

## Create a list of cummulative all semester marks

_Compute the 85th percentile_

In [128]:
marks=[3310,  3450, 3480, 3355 ,3480, 3520,3490, 3550, 3540, 3730, 3650, 3925]

np.percentile(marks,85,interpolation='higher')

3730

In [129]:
0.85*12

10.2

In [130]:
np.percentile(marks,85)

3678.0

In [131]:
np.percentile(marks,85,interpolation='lower')

3650

In [94]:
np.percentile(marks,75)

3575.0

In [116]:
np.percentile(marks,25)

3472.5

In [95]:
pd.DataFrame(marks).describe()

                 0
count    12.000000
mean   3540.000000
std     165.652978
min    3310.000000
25%    3472.500000
50%    3505.000000
75%    3575.000000
max    3925.000000

### Compute IQR

In [123]:
q75, q25 = np.percentile(marks, [75 ,25],interpolation='lower')
iqr = q75 - q25
print(iqr)

100

## Covariance and Correlation

In [105]:
# Create a lst of speed and mileage data

speed=[30,50,40,55,30,25,60,25,50,55]
mileage=[28,25,25,23,30,32,21,35,26,25]

# Create a dictionary to create a dataframe
dict_1={'speed':speed,'mileage':mileage}

# Create a dataframe df_1
df_1=pd.DataFrame(dict_1)

In [115]:
df_1

   mileage  speed
0       28     30
1       25     50
2       25     40
3       23     55
4       30     30
5       32     25
6       21     60
7       35     25
8       26     50
9       25     55

__*Compute the correlation*__

In [107]:
df_1.corr()

          mileage     speed
mileage  1.000000 -0.910369
speed   -0.910369  1.000000

In [109]:
np.corrcoef(df_1.speed,df_1.mileage)

array([[ 1.        , -0.91036938],
       [-0.91036938,  1.        ]])

__*Compute the covariance*__

In [114]:
df_1.cov()

           mileage       speed
mileage  18.222222  -52.777778
speed   -52.777778  184.444444

In [113]:
np.cov(df_1.speed,df_1.mileage)

array([[184.44444444, -52.77777778],
       [-52.77777778,  18.22222222]])